venv/
__pycache__/
*.pyc
.git/
data/common_voice_id/clips/
data/prepared/audio/
data/queries/
data/queries_tuning/
static/audio_output/
downloads/
.ipynb_checkpoints/
.env
model/whisper_finetuned/model.safetensors
data/common_voice_id/
data/prepared/metadata.csv
data/prepared/queries_metadata.csv
data/translations.csv
experiment/*.csv
experiment/*.html
experiment/*.png